In [ ]:
import pandas as pd
dataset = pd.read_csv('/content/iphone_purchase_records.csv')
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:, 3].values

In [ ]:
dataset.head(20)

    Gender  Age  Salary  Purchase Iphone
0     Male   19   19000                0
1     Male   35   20000                0
2   Female   26   43000                0
3   Female   27   57000                0
4     Male   19   76000                0
5     Male   27   58000                0
6   Female   27   84000                0
7   Female   32  150000                1
8     Male   25   33000                0
9   Female   35   65000                0
10  Female   26   80000                0
11  Female   26   52000                0
12    Male   20   86000                0
13    Male   32   18000                0
14    Male   18   82000                0
15    Male   29   80000                0
16    Male   47   25000                1
17    Male   45   26000                1
18    Male   46   28000                1
19  Female   48   29000                1

In [ ]:
#Convert Gender to number
from sklearn.preprocessing import LabelEncoder
labelEncoder_gender =  LabelEncoder()
X[:,0] = labelEncoder_gender.fit_transform(X[:,0])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

For Logistic Regression algorithm we have to do feature scaling. We will use Standard Scaler for this purpose

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

We are going to use the LogisticRegression class from sklearn linear_model library. When we create an object of this class, it takes many parameters. One of them is the “solver” which specifies which Algorithm to use in the optimization problem.
The documentation states:

     For small datasets, ‘liblinear’ is a good choice, whereas ‘sag’ and ‘saga’ are faster for large ones.

     For multiclass problems, only ‘newton-cg’, ‘sag’, ‘saga’ and ‘lbfgs’ handle multinomial loss; ‘liblinear’ is limited to one-versus-rest schemes.

     ‘newton-cg’, ‘lbfgs’ and ‘sag’ only handle L2 penalty, whereas ‘liblinear’ and ‘saga’ handle L1 penalty.

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state=0, solver="liblinear")
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
# Confusion Matrix
from sklearn import metrics
cm = metrics.confusion_matrix(y_test, y_pred) 
print(cm)

[[65  3]
 [ 6 26]]

In [ ]:
accuracy = metrics.accuracy_score(y_test, y_pred) 
print("Accuracy score:",accuracy)
precision = metrics.precision_score(y_test, y_pred) 
print("Precision score:",precision)
recall = metrics.recall_score(y_test, y_pred) 
print("Recall score:",recall)

Accuracy score: 0.91
Precision score: 0.896551724137931
Recall score: 0.8125

In [ ]:
print(classifier.predict([[1, 29, 80000]]))

[1]